
@media only screen and (min-width: 992px) {
.blog-style {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2%;
}
}

@media only screen and (max-width: 600px) {
  .blog-style {
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: auto;
    /* grid-gap: 2%; */
    margin-left:5%
  }
}



